@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

:root {
  --yellow: #fff200;
  --orange: #ff7f27;
  --black: #000000;
}

body {
  height: 100vh;
  background: #5c55db;
  
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  z-index: 1;
}

.big-square {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  transform: rotate(45deg);
  margin: 0 auto;
  margin-top: 100px;
}

.bigger-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.info {
  width: 500px;
  height: 50px;
  position: absolute;
  top: -20px;
  right: -450px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: white;
}

.btn {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #070094;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0px 3px black;
}

.btn-two {
  position: absolute;
  top: 15px;
  left: 130px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #070094;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 0.85rem;
  box-shadow: 0px 3px black;
}

.btn-three {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #780487;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0px 3px black;
}

.btn:active,
.btn-two:active,
.btn-three:active {
  background-color: #05014f;
  transform: translateY(4px);
  box-shadow: none;
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.black {
  background-color: var(--black);
}

.white {
  background-color: white;
}

.no-touch {
  pointer-events: auto;
}

.timer {
  pointer-events: none;
  user-select: none;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transform: rotate(-45deg);
  color: white;
  outline: none;
  background: none;
}

.timer:focus,
.timer:active {
  outline: none;
  background: none;
}

.timer::selection {
  background: transparent;
}

.hidden {
  display: none;
}